html {
    font-family: "Inter";
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    margin: auto;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: auto;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    background: #275117;
    position: relative;
}


.header {
    display: flex;
    height: 90px;
    width: 1440px;
    justify-content: space-around;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .header {
        width: 768px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

@media (max-width: 768px) {
    .header__nav {
        width: 720px;
    }
}

.logo__link {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo__link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.nav__list {
    display: flex;
}

@media (max-width: 768px) {
    .nav__list {
        display: flex;
        gap: 30px;
        position: absolute;
        transition: 0.8s;
        transform: translateX(100%);
        z-index: 5;
        top: 100px;
        right: -332px;
        display: flex;
        flex-direction: column;
        background-color: #275117;
        align-items: center;
        width: 332px;
        height: 480px;
        gap: 30px;
    }
}

.nav__list.open {
    position: absolute;
    z-index: 5;
    top: 100px;
    transition: 0.8s;
    transform: translateX(0);
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #275117;
    align-items: center;
    width: 350px;
    height: 300px;
    gap: 30px;
}

.list__item {
    display: flex;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav__item_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    color: #fff;
}

.nav__item_link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}


button.burger {
    display: none;
}

@media (max-width: 768px) {
    button.burger {
        background-color: #275117;
        transition: 0.8s;
        animation-duration: 2s;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        width: 45px;
        height: 20px;
    }

    button.burger.open {
        z-index: 15;
        position: absolute;
        transition: 0.8s;
        animation-duration: 2s;
        right: 24px;
    }

    .burger__line1 {
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;

    }

    .burger__line1.open {
        width: 45px;
        height: 2px;
        transform: translateY(9px) rotate(45deg);
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;
    }

    .burger__line2 {
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;
    }

    .burger__line2.open {
        opacity: 0;
    }

    .burger__line3 {
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;

    }

    .burger__line3.open {
        transform: translateY(-9px) rotate(-45deg);
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;
    }
}

.main {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 500px;
    background-image: url(../img/jpg/Luchi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .main {
        transition: 0.5s;
        width: 768px;

    }
}

.summary {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-self: center;
    text-align: center;
    color: #fff;
    background-color: rgb(6, 134, 60);
    opacity: 0.7;
    border-radius: 30px;
    width: 1000px;
    height: 300px;
    position: relative;
}

@media (max-width: 768px) {
    .summary {
        transition: 0.5s;
        width: 500px;

    }
}

.summary>p {
    font-size: 26px;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scils__header {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 90px;
}

@media (max-width: 768px) {
    .footer {
        transition: 0.5s;
        width: 768px;

    }
}

.github__link {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.github__link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.year {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

@media (max-width: 768px) {
    .year {
        width: 120px;

    }
}