html {
    font-family: "Inter";
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    margin: auto;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: auto;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    background: #38e8bc;
}

@media (max-width: 768px) {
    body {
        width: 768px;
    }
}

@media (max-width: 320px) {
    body {
        width: 320px;
    }
}

.header {
    display: flex;
    height: 90px;
    width: 1440px;
    justify-content: space-around;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .header {
        width: 768px;
    }
}

@media (max-width: 320px) {
    .header {
        width: 320px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

@media (max-width: 768px) {
    .header__nav {
        width: 720px;
    }
}

@media (max-width: 320px) {
    .header__nav {
        width: 280px;
    }
}

.logo__link {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo__link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.nav__list {
    display: flex;
}

@media (max-width: 768px) {
    .nav__list {
        display: none;
        gap: 30px;
        position: absolute;
        transition: 0.8s;
        transform: translateX(100%);
        z-index: 5;
        top: 100px;
        right: -332px;
        flex-direction: column;
        background-color: #38e8bc;
        align-items: center;
        width: 332px;
        height: 480px;
    }
}

@media (max-width: 320px) {
    .nav__list {
        display: none;
        gap: 30px;
        position: absolute;
        transition: 0.8s;
        transform: translateX(100%);
        z-index: 5;
        top: 100px;
        right: -332px;
        flex-direction: column;
        background-color: #38e8bc;
        align-items: center;
        width: 332px;
        height: 480px;
    }
}

.nav__list.open {
    position: absolute;
    z-index: 5;
    top: 100px;
    transition: 0.8s;
    transform: translateX(0);
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #38e8bc;
    align-items: center;
    width: 350px;
    height: 300px;
    gap: 30px;
}

.list__item {
    display: flex;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav__item_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    color: #fff;
}

.nav__item_link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}


button.burger {
    display: none;
}

@media (max-width: 768px) {
    button.burger {
        background-color: #38e8bc;
        transition: 0.8s;
        animation-duration: 2s;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        width: 45px;
        height: 20px;
    }

    button.burger.open {
        z-index: 15;
        position: absolute;
        transition: 0.8s;
        animation-duration: 2s;
        right: 24px;
    }

    .burger__line1 {
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;

    }

    .burger__line1.open {
        width: 45px;
        height: 2px;
        transform: translateY(9px) rotate(45deg);
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;
    }

    .burger__line2 {
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;
    }

    .burger__line2.open {
        opacity: 0;
    }

    .burger__line3 {
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;

    }

    .burger__line3.open {
        transform: translateY(-9px) rotate(-45deg);
        width: 45px;
        height: 2px;
        background: #FFF;
        transition: 0.8s;
        animation-duration: 2s;
    }
}

.contact__section {
    display: flex;
    flex-direction: column;

}

.contact__header {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
    text-decoration: underline;
}

.contact__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;

}

.contact__list_item {
    display: flex;
    align-self: center;
    width: 400px;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (max-width: 320px) {
    .contact__list_item {
        width: 280px;
        font-size: 18px;
    }
}

.location__link {
    text-decoration: none;
    color: #BB945F;
    margin-left: 10px;
}

.location__link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.mail__link {
    text-decoration: none;
    color: #BB945F;
    margin-left: 10px;

}

.mail__link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.contact__githab {
    text-decoration: none;
    color: #BB945F;
    margin-left: 10px;
}

.contact__githab:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.contact__telegram {
    margin-left: 10px;
    text-decoration: none;
    color: #BB945F;
}

.contact__telegram:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.contact__discord {
    margin-left: 10px;
    text-decoration: none;
    color: #BB945F;
}

.contact__discord:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.slider__section {
    margin-top: 40px;
}

.slider__header {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
    text-decoration: underline;
}

.figure__audio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure__header {
    margin-bottom: 20px;
    color: #BB945F;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (max-width: 320px) {
    .figure__header {
        width: 280px;
        text-align: center;

    }
}

.figure__play {
    width: 600px;
    margin-bottom: 20px;
}

@media (max-width: 320px) {
    .figure__play {
        width: 280px;

    }
}

.text__header {
    color: #fff;
    width: 1400px;
    height: 90px;
    padding-left: 20px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .text__header {
        width: 700px;
        height: 120px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .text__header {
        width: 280px;
        height: 240px;
        font-size: 18px;
        text-align: center;
    }
}

.text__header_link {
    color: #BB945F;
    text-decoration: none;
}

.text__header_link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.slider__wrap {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 768px) {
    .slider__wrap {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 720px;
    }
}

.slider__viewport {
    margin: 0 auto 20px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #eee;
}

@media (max-width: 768px) {
    .slider__viewport {
        height: 300px;
    }
}

.slider {
    margin-bottom: 20px;
    width: calc(100% * 5);
    height: 600px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    position: relative;
}

@media (max-width: 768px) {
    .slider {
        height: 300px;
    }
}

.slide {
    width: 100%;
    height: 600px;
}

@media (max-width: 768px) {
    .slide {
        height: 300px;
    }
}



.slider__control {
    background: rgb(236, 226, 167);
}

.slider__control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    margin-top: calc(-60px / 2);
    background: rgb(236, 226, 167);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    width: 70px;
    height: 70px;
    border: none;

}

@media (max-width: 768px) {
    .slider__control-button {
        width: 40px;
        height: 40px;
    }
}


.slider__control-prev {
    left: 20px;
}

.slider__control-next {
    right: 20px;
}

.slider__control-button:hover {
    background: #BB945F;
}

#viewSlider {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.slider__pagination .viewSlide {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgb(236, 226, 167);
}

.slider__pagination .viewSlide.active {
    background: #BB945F;
}

.slide__img_size {
    width: 1000px;
    height: 600px;

}

@media (max-width: 768px) {
    .slide__img_size {
        width: 100%;
        height: 300px;
    }
}


.footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 90px;
}

@media (max-width: 768px) {
    .footer {
        transition: 0.5s;
        width: 768px;

    }
}

@media (max-width: 320px) {
    .footer {
        transition: 0.5s;
        width: 320px;

    }
}

.github__link {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

@media (max-width: 320px) {
    .github__link {
        width: 200px;
        font-size: 20px;

    }
}

.github__link:hover {
    transition: all 0.8s ease-out;
    text-shadow: white 10px 10px 20px, white -10px -10px 20px;
    color: #CDCDCD;
    cursor: pointer;
}

.year {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

@media (max-width: 768px) {
    .year {
        width: 120px;

    }
}

@media (max-width: 320px) {
    .year {
        width: 90px;
        font-size: 20px;

    }
}