html {
    font-family: "Inter";
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    margin: auto;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: auto;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -o-overflow-x: hidden;
    -ms-overflow-x: hidden;
    background: #0a0b0c;
}

.header {
    display: flex;
    height: 90px;
    width: 1440px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.logo__link {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav__list {
    display: flex;
}

.list__item {
    display: flex;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav__item_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    justify-content: space-around;
    width: 1440px;
}

.main__text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 600px;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.content__img {
    display: flex;
    transition: 0.5s;
    width: 600px;
    height: 600px;
}

.content__img.active {
    display: none;
    transition: 0.5s;
    width: 600px;
    height: 600px;
}

.text__img_preview {
    display: flex;
    transition: 0.5s;
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

.text__img_preview:hover {
    transition: 0.5s;
    cursor: pointer;
}

.text__img_preview.active {
    display: none;
    transition: 0.5s;
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

.content__img_my {
    display: none;
    transition: 0.5s;
    width: 600px;
    height: 600px;
}

.content__img_my.active {
    display: block;
    transition: 0.5s;
    width: 600px;
    height: 600px;
}

.text__img_my {
    display: flex;
    transition: 0.5s;
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

.text__img_my:hover {
    transition: 0.5s;
    cursor: pointer;
}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 90px;
}

.github__link {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.year {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}